*, *:before, *:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body::-webkit-scrollbar{
    display: none;
  }

html, body {
	height: 100%;
	background-color: black;
    font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 20px;
	cursor: default;
	-webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.page {
	 display: flex;
	 flex-direction: column;
	 min-height: 100vh;
	 margin: 0 auto;
	 min-width: 1341px;
	 line-height: 2.9em;
}

.fullscreen_intro .page_left {
	position: relative;
	width: 35%;
	margin: calc(20px + 30 * ((100vw - 320px) / (1280 - 320))) 15px 0px 15px;
	vertical-align: center;
	flex-direction: column;
	display: flex;
}
.fullscreen_intro .page_right {
	position: relative;
	width: 35%;
	margin: calc(20px + 30 * ((100vw - 320px) / (1280 - 320))) 15px 0px 15px;
	vertical-align: center;
	flex-direction: column;
	display: flex;
}
.page_right .title_page {
	align-self: end;
}
.contentpart {
display: flex;
flex-direction: column;
width: 100%;
margin: 0 auto;
}
.text_page {
	font-size: 1.3em;
	color: white;
	padding: 20px 15px 20px 15px;
	background: #000000b3;
	box-shadow: 0px 0px 20px black;
	border: 3px solid white;
	border-radius: 3px;
	align-self: center;
	z-index: 500;
	display: flex;
	width: 100%;
	flex-direction: column;
	line-height: 1.3em;
	text-align: left;
	position: relative;
	hyphens: auto;
}
.text_page .img_skew {
bottom: -12px;
left: 48.25%;
border-radius: 50%;
background: black;
border: 3px solid white;
position: absolute;
	height: 21px;
	width: 21px;
	z-index: 501;
}
.text_line {
	position: relative;
	width: 90%;
	align-self: center;
	height: 1px;
	background: #ffffff4f;
	margin-top: calc(9px + 9 * ((100vw - 320px) / (1280 - 320))) ;
	margin-bottom: calc(6px + 6 * ((100vw - 320px) / (1280 - 320))) ;
}
.title_page, .title_page a {
	text-align: left;
	font-size: 1.6em;
	color: black;
	font-weight: 600;
	margin: calc(15px + 20 * ((100vw - 320px) / (1280 - 320))) 10px 0px 10px;
	background: white;
	align-self: start;
	padding: 8px 10px 8px 10px;
	z-index: 501;
	box-shadow: 0px -2px 20px black;
	border-radius: 5px;
	margin-bottom: -8px;
	position: relative;
	line-height: 1.3em;
	letter-spacing: -1px;
	text-transform: uppercase;
text-decoration: underline;
}
.imgplace {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	transform-origin: top center;
	animation: imgrotate infinite 3s ease-in-out alternate;
}
.imgplace:hover {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	transform-origin: top center;
	animation: imgrotate infinite 3s ease-in-out alternate;
	-webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused; 
    animation-play-state: paused;
}
.imgplace:hover .img {
	transform: scale(1.10);
	transition: 0.7s;
	box-shadow: 0px 0px 30px black, inset 0px 0px 0px 20px #00000057;
	z-index: 100;
}
.imgplace:before {
	content: '';
	height: calc(15px + 15 * ((100vw - 320px) / (1280 - 320)));
	width: 5px;
	background: white;
	position: absolute;
	transform: skewX(25deg);
	left: 52%;
	
}
.imgplace:after {
	content: '';
	height: calc(15px + 15 * ((100vw - 320px) / (1280 - 320)));
	width: 5px;
	background: white;
	position: absolute;
	transform: skewX(-25deg);
	left: 48%;
	
}
.imgplace .img {
	width: 85%;
	transition: 0.7s;
	height: 100%;
	object-fit: cover;
	position: relative;
	right: 0;
	display: block;
	pointer-events: none;
	padding: 5px;
	border: 3px solid white;
	margin-top: calc(15px + 15 * ((100vw - 320px) / (1280 - 320)));
	border-radius: 5px;
	background: black;
	z-index: 299;
	transform-origin: center top;
	filter: grayscale(1) contrast(1.22);	
	box-shadow: 0px 0px 20px black, inset 0px 0px 0px 10px #00000057;
clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%, 0 76%, 0 72%, 0 69%, 1% 67%, 5% 66%, 8% 65%, 9% 62%, 7% 60%, 7% 57%, 5% 53%, 4% 49%, 1% 48%, 0 43%, 0 21%, 2% 20%, 5% 18%, 5% 16%, 7% 14%, 8% 12%, 10% 11%, 11% 10%, 14% 7%, 17% 7%, 21% 5%, 24% 5%, 27% 5%, 31% 2%);	
	
}
.imgplace:hover .imgtitle {
	position: absolute;
	bottom: -15%;
	z-index: 100;
	text-align: center;
	color: black;
	background: white;
	font-size:  1.5em;
	width: 93%;
	opacity: 1;
	border-radius: 5px;
	box-shadow: 0 0 0 black;
	line-height: calc(20px + 20 * ((100vw - 320px) / (1280 - 320)));
	border-radius: 0px;
	z-index: 300;
}
 .imgtitle {
	position: absolute;
	z-index: 101;
	bottom: -6%;
	text-align: center;
	font-size:  1.4em;
	color: black;
	background: white;
	width: 85%;
	z-index: 300;
	opacity: 0.7;
	transition: 0.7s;
	box-shadow: 0px 0px 20px black;
	line-height: calc(19px + 19 * ((100vw - 320px) / (1280 - 320)));
}
.background_page {
	background: url(back17.jpg) center center;
	z-index: 0;
	position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: 110%;
	width: 110%;
	filter: grayscale(3);
	opacity: 0.2;
	overflow: hidden;
	-webkit-background-size: cover;
	animation: scale_back infinite 12s ease-in-out alternate;
}
.tooltip_button {
	width: 30%;
	justify-content: end;
	display: flex;
	-webkit-justify-content: end;
}
.tooltip {
  position: relative;
  display: inline-block;
  padding: 12px 10px;
  border: 3px solid white;
  font-size: 0.9em;
  line-height: 1;
  background: black;
  border-radius: 3px;
  opacity: 0.5;
  font-weight: lighter;
  margin: calc(6px + 6 * ((100vw - 320px) / (1280 - 320)));
  align-self: center;
  transition: 0.4s;
  box-shadow: 0px 0px 5px black;
  letter-spacing: 2px;
  z-index: 200;
}
.tooltip:hover {
	opacity: 1;
	border: 3px solid white;
	background: white;
	color: black;
}

.tooltiptext {
  visibility: hidden;
  background: #000000b3;
  font-size: 1em;
  color: white;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 0px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -10%;
  right: 120%;
  opacity: 0;
  transition: 0.4s;
  font-weight: normal;
  line-height: 1;
  border: 3px solid white;
  width: calc(90px + 95 * ((100vw - 320px) / (1280 - 320)));
  box-shadow: 0px 0px 5px black;
  z-index: 200;
}
.tooltip .tooltiptext:before {
	content: '';
	position: absolute;
	height: 3px;
	background: white;
	left: 100%;
	top: 50%;
	width: 10%;
	z-index: 200;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.bar {
	background: linear-gradient(#00000070, #00000036, #fff0);
}
.bar_content {
	max-width: 1370px;
	width: 100%;
	display: flex;
	opacity: 1;
	z-index: 1;
	vertical-align: center;
	margin: 0 auto;
}
.gmail {
	display: flex;
	justify-content: start;
	width: 30%;
}
.gmailtip {
	text-align: left;
	border: 3px solid white;
	color: white;
	font-size: 0.9em;
	margin: calc(6px + 6 * ((100vw - 320px) / (1280 - 320)));
	background: black;
	position: relative;
	border-radius: 3px;
	letter-spacing: 2px;
	font-weight: lighter;
	align-self: start;
	opacity: 0.5;
	transition: 0.4s;
	padding: 12px 10px;
	line-height: 1;
}
.gmailtip:hover {
	opacity: 1;
	color: black;
	background: white;
}
.nav_links_circle {
	border-radius: 50%;
	border: 2px solid white;
	line-height: 0px;
	z-index: 1;
	background: black;
	box-shadow: 0px 0px 10px black;
	position: relative;
	transition: 0.4s;
}
.nav_links_circle:hover {
	transform-origin: center center;
	transform: scale(1.15);
}
.nav_links_line {
	position: absolute;
	width: 100%;
	height: 2px;
	background: white;
	top: 50%;
	left: 0;
	z-index: 0;
}
.nav_links {
	display: flex;
	flex-direction: row;
	max-width: 320px;
	position: relative;
	justify-content: space-between;
	margin: 0 auto;
	line-height: 0;
	margin-top: calc(5px + 5 * ((100vw - 320px) / (1280 - 320)));
}
.nav_bar {
	justify-content: space-around;
	width: 40%;
	margin: 0 auto;
	position: relative;
}
.nav {
	width: 2.2em;
	height: 2.2em;
	position: relative;
	animation: pict_rotate infinite 16s ease-in-out alternate;
	border-radius: 50%;
	border: 0px solid white;
	box-shadow: 0px 0px 5px #00000096;
	transition: border 0.2s;
	margin: 5px;
}
.nav_links_circle:hover {
	background: white;
	border: 2px solid transparent;
}

.nav_bar a {
line-height: 0;	

}
.fullscreen_intro {
	 width: 100%;
	 display: flex;
	 vertical-align: center;
	 flex-direction: row;
	 position: relative;
	 max-width: 1370px;
	 margin: 0 auto;
}
.intro_body {
     display: flex;
     width: 30%;
     margin: 0px auto;
	 flex-direction: column;
	 align-items: center;
	 position: relative;
	 text-align: center;
}
.intro_title {
	font-size: 3em;
	background: white;
	color: black;
	padding: 10px 10px 5px 10px;
	position: relative;
z-index: 110;
	margin-top: calc(10px + 15 * ((100vw - 320px) / (1280 - 320)));
	animation: rotate infinite 2s ease-in-out alternate;
	transform-origin: top right;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black;
	transition: color 0.7s;
	letter-spacing: -1px;
	overflow: hidden;
	letter-spacing: -2px;
}

.intro_title ab {
	font-size: 1.1em;
	
}
.x {
	position: absolute;
	width: 0.3em;
	height: 0.3em;
	display: block;
	top: 3px;
	right: 3px;
	box-shadow: 0px 0px 2px #8a8a8a;
	border-radius: 50%;
}
.x1 {
	position: absolute;
	width: 0.6em;
	height: 0.6em;
	display: block;
	top: 1.5%;
	left: 23.5%;
}
.intro_title_upper {
	font-size:  2.1em;
background: #000000b3;
color: white;
padding: 10px 20px;
margin-top: -15px;
position: relative;
border: 3px solid white;
z-index: 100;
border-radius: 3px;
box-shadow: 0px 0px 20px black;
transition: border 0.3s;
}
.background {
	background: black;
	width: 100%;
	height: 100%;
}
.danger {
	background: white;
	font-family: 'Amatic SC', cursive;
	font-weight: 600;
	color: black;
	position: relative;
	font-size: 1.85em;
	padding: 5px 10px;
	margin-top: calc(17px + 17 * ((100vw - 320px) / (1280 - 320)));
	animation: wiggle infinite 4s ease-in-out alternate;
	border-radius: 5px;
	box-shadow: 0px 0px 20px black;
	transition: 0.4s;
}
.danger:hover {
	-webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused; 
    animation-play-state: paused;
}
.danger .x_1 {
	position: absolute;
	width: 14px;
	height: 14px;
	display: block;
	top: 2px;
	left: 0.8em;
}
.danger .x_2 {
	position: absolute;
	width: 14px;
	height: 14px;
	display: block;
	top: 2px;
    right: 0.8em;
}
.danger .x_3 {
	position: absolute;
	width: 16px;
	height: 16px;
	display: block;
	bottom: 2px;
    right: 40%;
	transform: rotate(-30deg);
}
.danger .x_4 {
	position: absolute;
	width: 16px;
	height: 16px;
	display: block;
	top: 2px;
    left: 40%;
	transform: rotate(-30deg);
}
.danger:before {
	content: '';
	bottom: 100%;
	width: 5px;
	background: white;
	position: absolute;
	display: inline-block;
	height: calc(17px + 17 * ((100vw - 320px) / (1280 - 320)));
	right: 1.7em;
	transform: skewx(50deg);
}
.danger:after {
	content: '';
	bottom: 100%;
	width: 5px;
	background: white;
	position: absolute;
	display: inline-block;
	height: calc(17px + 17 * ((100vw - 320px) / (1280 - 320)));
	left: 1.7em;
	transform: skewx(-50deg);
}
.logoplace {
	display: flex;
	justify-content: center;
	align-self: center;
	vertical-align: center;
	position: relative;
	margin-top: calc(20px + 20 * ((100vw - 320px) / (1280 - 320)));
}
.logo {
	background: #000000b3;
	border: 3px solid white;
	overflow: hidden;
	border-radius: 3px;
	box-shadow: 0px 0px 20px black;
}

.achievements_back {
display: flex;
flex-direction: column;
align-self: center;
margin-top: calc(20px + 20 * ((100vw - 320px) / (1280 - 320)));
position: relative;
width: 97%;
z-index: 300;
line-height: 2.2em;
}
.achievements_title_back {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 90%;
	margin: 0 auto;
	position: relative;
	z-index: 300;
}
.achievements_title_line {
	height: 5px;
	width: 90%;
	background: white;
	margin: 0 auto;
	align-self: center;
	vertical-align: center;
	position: absolute;
	z-index: 300;
}
.achievements_title { 
background: white;
align-self: center;
color: black;
position: relative;
font-size: 1.7em;
padding: 8px 10px 8px 10px;
border-radius: 5px;
box-shadow: 0px 0px 10px black;
text-shadow: 0px 0px 1px #666, 0px 0px 1px gray;
z-index: 301;
text-decoration: underline;
text-transform: uppercase;
}
.achievement_img_circle {
border-radius: 50%;
border: 3px solid white;
align-self: center;
line-height: 0;
z-index: 300;
box-shadow: 0px 0px 10px black;
position: relative;
}
.achievements_img {
	background: black;
	align-self: center;
	position: relative;
	border-radius: 50%;
height: 3.2em;
z-index: 300;
border-radius: 50%;
padding: 5px;
}
.achievements_list {
	position: absolute;
	display: flex;
flex-direction: column;
align-self: center;
position: relative;
z-index: 299;
}
.achievement {
	display: flex;
	flex-direction: row;
	position: relative;
	align-self: center;
	border: 3px solid white;
	border-radius: 3px;
	margin-top: calc(8px + 8 * ((100vw - 320px) / (1280 - 320)));
	box-shadow: 0px 0px 20px black;
	z-index: 169;
}
.achievements_list .achievement:nth-child(1):before {
	width: 5px;
	content: '';
	height: calc(8px + 8 * ((100vw - 320px) / (1280 - 320)));;
	bottom: 105%;
	position: absolute;
	right: 9%;
	background: white;
	z-index: 299;
}
.achievements_list .achievement:nth-child(2):before {
	width: 5px;
	content: '';
	height: calc(8px + 8 * ((100vw - 320px) / (1280 - 320)));;
	bottom: 105%;
	position: absolute;
	left: 6%;
	background: white;
	z-index: 299;
}
.achievements_list .achievement:nth-child(3):before {
	width: 5px;
	content: '';
	height: calc(8px + 8 * ((100vw - 320px) / (1280 - 320)));;
	bottom: 105%;
	position: absolute;
	right: 17%;
	background: white;
}
.achievements_list .achievement:nth-child(4):before {
	width: 5px;
	content: '';
	height: calc(8px + 8 * ((100vw - 320px) / (1280 - 320)));;
	bottom: 105%;
	position: absolute;
	left: 10%;
	background: white;
}
.achievements_list .achievement:nth-child(5):before {
	width: 5px;
	content: '';
	height: calc(8px + 8 * ((100vw - 320px) / (1280 - 320)));;
	bottom: 105%;
	position: absolute;
	right: 5%;
	background: white;
}
.achievement_name {
	font-size: 1.5em;
color: white;
 background: #000000b3;
 padding: 8px 10px;
}
.achievement_number {
	background: white;
	color: black;
	font-size: 1.6em;
	align-self: center;
	padding: 8px 10px;
	position: relative;
}
p { 
text-indent: calc(8px + 8 * ((100vw - 320px) / (1280 - 320)));
}

h3 {
  margin: 0;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 1.5em;
  color: white;
  padding: 8px 5px 0px 5px;
  line-height: 1.1em;
  letter-spacing: 3px;
}
em {
  font-family: 'Josefin Sans', sans-serif;
  color: currentColor;
  position: relative;
  font-style: normal;
  text-align: center;
}
em.o {
  -webkit-animation: planet-rotate 8s ease-in-out infinite;
  animation: planet-rotate 8s ease-in-out infinite;
  position: relative;
}
em.o.left {
  -webkit-transform-origin: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
  transform-origin: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
}
em.o.right {
  -webkit-transform-origin: calc(-30px + 30 * ((100vw - 320px) / (1280 - 320)));
  transform-origin: calc(-30px + 30 * ((100vw - 320px) / (1280 - 320)));
}
footer {
width: 100%;
border-top: 3px dashed white;
background: #000000b3;
position: relative;
bottom: 0;
left: 0;
margin: 0 auto;
margin-top: 50px;
}
.footer_container {
max-width: 1350px;
margin: 0 auto;
}
.footer_container h4 {
font-size: 1.3em;
color: white;
vertical-align: center;
text-align: right;
margin: 5px 30px 5px 0px;
}
@-webkit-keyframes planet-rotate {
  0% {-webkit-transform: rotate(0deg);}
 30% {-webkit-transform: rotate(360deg);}
 100% {-webkit-transform: rotate(360deg);}
}
@keyframes planet-rotate {
 0% {transform: rotate(0deg);}
 30% {transform: rotate(360deg);}
 100% {transform: rotate(360deg);}
}
@keyframes rotate360 {
	0% { transform: rotate(0deg)}
	100% { transform: rotate(3600deg)}
}
@keyframes wiggle {
	0% { transform: translatex(20px)}
	100% { transform: translatex(-20px)}
}
@keyframes wiggle_und {
	0% { transform: translatex(-20px)}
	100% { transform: translatex(20px)}
}
@keyframes rotate {
	0% { transform: rotate(-0.5deg)}
	100% { transform: rotate(0.9deg)}
}
@keyframes scale {
	0% { transform: scale(0.9)}
	100% { transform: scale(1)}
}
	@keyframes scale_back {
		0% { transform: scale(1.0);}
		100% { transform: scale(1.03);}	
	}
@keyframes pict_rotate {
	0% { transform: rotate(0.0deg);}
	10% { transform: rotate(1.5deg);}
	20% { transform: rotate(0.0deg);}
	30% { transform: rotate(-1.5deg);}
	40% { transform: rotate(0.0deg);}
	50% { transform: rotate(2.5deg);}
	60% { transform: rotate(0.0deg);}
	70% { transform: rotate(-3.5deg);}
	80% { transform: rotate(2.0deg);}
	90% { transform: rotate(1.0deg);}
	100% { transform: rotate(0.0deg);}
}
@keyframes imgrotate {
	0% {transform: rotate(3deg);}
	100% {transform: rotate (-3ged);}
}
/* 
------------------------------TELEPHONE----------------------------------------------------------------------------------------------------
===========================================================================================================================================  */

@media screen and (max-device-width:480px){
	.page {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: 0 auto;
		line-height: calc(68px + 23 * ((100vw - 320px) / (1280 - 320)));
   }
   .fullscreen_intro .page_right {
	   position: relative;
	   width: 96%;
	   vertical-align: center;
	   flex-direction: column;
	   display: flex;
	   margin: 0 auto;
	   line-height: calc(55px + 25 * ((100vw - 320px) / (1280 - 320)));
	   order: 3;
   }
   .fullscreen_intro .page_left {
	   position: relative;
	   width: 96%;
	   vertical-align: center;
	   flex-direction: column-reverse;
	   display: flex;
	   margin: 0 auto;
	   line-height: calc(55px + 25 * ((100vw - 320px) / (1280 - 320)));
	   order: 2;
   }

   .text_page {
	   font-size: calc(40px + 40 * ((100vw - 320px) / (1280 - 320)));
	   color: white;
	   padding: 42px 30px 42px 30px;
	   background: #000000b3;
	   box-shadow: 0px 0px 40px black;
	   border: 6px solid white;
	   border-radius: 5px;
	   align-self: center;
	   z-index: 500;
	   line-height: 1.4em;
   }
   .text_page .img_skew {
	bottom: -28px;
	left: 48.25%;
	border-radius: 50%;
	background: black;
	border: 6px solid white;
	position: absolute;
		height: 50px;
		width: 50px;
		z-index: 501;
		box-shadow: 0px 0px 20px black;
	}
   .intro_body .title_page {
	margin-top: 0px;
	   }
   .text_line {
	   position: relative;
	   width: 90%;
	   align-self: center;
	   height: 3px;
	   background: #ffffff4f;
	   margin-top: calc(19px + 19 * ((100vw - 320px) / (1280 - 320))) ;
	   margin-bottom: calc(14px + 14 * ((100vw - 320px) / (1280 - 320))) ;
   }
   .title_page, .title_page a {
	   text-align: left;
	   font-size: calc(48px + 48 * ((100vw - 320px) / (1280 - 320)));
	   font-weight: 600;
	   color: black;
	   margin: 15px 15px 0px 25px;
	   background: white;
	   align-self: start;
	   padding: 16px 20px 16px 20px;
	   z-index: 501;
	   box-shadow: 0px -5px 40px black;
	   border-radius: 10px;
	   position: relative;
	   margin-bottom: -25px;
	   overflow: hidden;
	   margin-top: calc(60px + 60 * ((100vw - 320px) / (1280 - 320)));
   }
   .page_left .title_page {
	   text-align: left;
   }
   .background_page {
	   background: url(me.jpg) center center;
	   position: fixed;
	   background-size: cover;
	   background-repeat: no-repeat;
	   margin: 0 auto;
	   height: 110%;
	   width: 110%;
	   filter: grayscale(3);
	   opacity: 0.25;
	   overflow: hidden;
	   -webkit-background-size: cover;
	   animation: scale_back infinite 16s ease-in-out alternate;
   }
   .nav_bar {
	   display: ;
	   flex-direction: ;
	   max-width: ;
	   margin: ;
	   position: ;
	   top: ;
	   width: 100%;
	   justify-content: ;
	   margin-top: ;
   }
   .nav_links_circle {
	border-radius: 50%;
	border: 5px solid white;
	line-height: 0px;
	z-index: 1;
	background: black;
	box-shadow: 0px 0px 30px black;
	position: relative;
	transition: 0.4s;
}
.nav_links .a {
	animation: pict_rotate infinite 16s ease-in-out alternate;
}
.nav_links .a:nth-child(1) {
	animation-delay: 1s;
}
.nav_links .a:nth-child(2) {
	animation-delay: 1.2s;
}
.nav_links .a:nth-child(3) {
	animation-delay: 1.4s;
}
.nav_links .a:nth-child(4) {
	animation-delay: 1.6s;
}
.nav_links .a:nth-child(5) {
	animation-delay: 1.8s;
}
.nav_links_line {
	position: absolute;
	width: 90%;
	height: 5px;
	background: white;
	top: 50%;
	left: 0;
	z-index: 0;
}
.nav_links_circle:hover {
	background: white;
	border: 5px solid transparent;
	transform-origin: center center;
	transform: scale(1.10);
}
   .nav_links {
	   justify-content: space-between;
	   width: 60%;
	   margin: 0 auto;
	   position: relative;
	   flex-direction: row;
	   margin-top: calc(23px + 23 * ((100vw - 320px) / (1280 - 320)));
	   max-width: calc(600px + 650 * ((100vw - 320px) / (1280 - 320)));
   }
   .nav {
	   width: calc(60px + 60 * ((100vw - 320px) / (1280 - 320)));
	   height: calc(60px + 60 * ((100vw - 320px) / (1280 - 320)));
	   position: relative;
	   box-shadow: 0px 0px 7px #00000096;
	   animation: none;
   }
   .gmail {
	   display: none;
   }
   .nav_bar a {
   line-height: 0;	
   }
   .tooltip_button {
	   display: none;
   }
   .fullscreen_intro {
		min-height: 100vh;
		width: 100%;
		display: flex;
		vertical-align: center;
		flex-direction: column;
   }
   .intro_body {
		display: flex;
		width: 96%;
		margin: 0px auto;
		flex-direction: column;
		align-items: center;
		position: relative;
		order: 1;
   }
   
   .intro_title {
	   font-size: calc(90px + 90 * ((100vw - 320px) / (1280 - 320)));
	   background: white;
	   color: black;
	   padding: 35px 25px calc(13px + 13 * ((100vw - 320px) / (1280 - 320))) 25px;
	   position: relative;
   z-index: 110;
	   margin-top: calc(50px + 25 * ((100vw - 320px) / (1280 - 320)));
	   animation: rotate infinite 2.5s ease-in-out alternate;
	   transform-origin: left;
	   transform-origin: top right;
	   border-radius: 10px;
	   overflow: hidden;
	   transition: color 0.7s;
	   line-height: calc(68px + 68 * ((100vw - 320px) / (1280 - 320)));
   }
   .intro_title ab {
	   font-size: calc(100px + 100 * ((100vw - 320px) / (1280 - 320)));
   }
   .x {
	   position: absolute;
	   width: calc(24px + 24 * ((100vw - 320px) / (1280 - 320)));
	   height: calc(24px + 24 * ((100vw - 320px) / (1280 - 320)));
	   display: block;
	   top: 8px;
	   right: 8px;
   }
   .x1 {
	   position: absolute;
	   width: calc(48px + 48 * ((100vw - 320px) / (1280 - 320)));
	   height: calc(45px + 40 * ((100vw - 320px) / (1280 - 320)));
	   display: block;
	   top: 4.5%;
	   left: 24%;
   }
   .intro_title_upper {
	   font-size: calc(66px + 66 * ((100vw - 320px) / (1280 - 320)));
   background: #000000b3;
   color: white;
   padding: 30px 40px;
   position: relative;
   border: 6px solid white;
   z-index: 100;
   margin-top: -20px;
   border-radius: 8px;
   line-height: calc(73px + 73 * ((100vw - 320px) / (1280 - 320)));
   }
   .background {
	   background: black;
	   width: 100%;
	   height: 100%;
   }
   .danger {
	   background: white;
	   color: black;
	   text-align: center;
	   position: relative;
	   letter-spacing: 2px;
	   font-size: calc(60px + 60 * ((100vw - 320px) / (1280 - 320)));
	   padding: 35px 25px;
	   margin-top: calc(50px + 50 * ((100vw - 320px) / (1280 - 320)));
	   animation: wiggle infinite 4s ease-in-out alternate;
	   border-radius: 8px;
	   font-weight: 600;
	   line-height: calc(55px + 55 * ((100vw - 320px) / (1280 - 320)));
   }
   .danger .x_1 {
	   position: absolute;
	   width: 30px;
	   height: 30px;
	   display: block;
	   top: 4px;
	   left: calc(35px + 35 * ((100vw - 320px) / (1280 - 320)));
   }
   .danger .x_2 {
	   position: absolute;
	   width: 30px;
	   height: 30px;
	   display: block;
	   top: 4px;
	   right: calc(34px + 34 * ((100vw - 320px) / (1280 - 320)));
   }
   .danger .x_3 {
	   position: absolute;
	   width: 36px;
	   height: 36px;
	   display: block;
	   bottom: 3px;
	   right: 42%;
	   transform: rotate(-30deg);
   }
   .danger .x_4 {
	   position: absolute;
	   width: 38px;
	   height: 38px;
	   display: block;
	   top: 3px;
	   left: 42%;
	   transform: rotate(-30deg);
   }
   .danger:before {
	   content: '';
	   bottom: 100%;
	   width: 12px;
	   background: white;
	   position: absolute;
	   height: calc(50px + 50 * ((100vw - 320px) / (1280 - 320)));
	   right: calc(70px + 70 * ((100vw - 320px) / (1280 - 320)));
   }
   .danger:after {
	   content: '';
	   bottom: 100%;
	   width: 12px;
	   background: white;
	   position: absolute;
	   height: calc(50px + 50 * ((100vw - 320px) / (1280 - 320)));
	   left: calc(70px + 70 * ((100vw - 320px) / (1280 - 320)));
   }
   .tooltip {
	 position: fixed;
	 display: inline-block;
	 bottom: 30px;
	 right: 30px;
	 padding: 10px;
	 border: 6px solid white;
	 line-height: 1;
	 background: #000000b3;
	 border-radius: 6px;
	 opacity: 0.4;
	 -webkit-text-stroke: 1px black;
	 font-size: calc(24px + 29 * ((100vw - 320px) / (1280 - 320)));
	 transition: 0.5s;
   }
   .tooltip:hover {
	   opacity: 0.8;
   }
   .tooltip .tooltiptext {
	 visibility: hidden;
	 background: #000000b3;
	 color: #white;
	 text-align: center;
	 border-radius: 6px;
	 padding: 10px;
	 position: absolute;
	 z-index: 1;
	 bottom: -10%;
	 right: 120%;
	 margin-left: -120px;
	 opacity: 0;
	 transition: opacity 0.3s;
	 line-height: 1;
	 border: 6px solid white;
	 width: 400px;
	 font-size: calc(23px + 26 * ((100vw - 320px) / (1280 - 320)));
   }
   .tooltip:hover .tooltiptext {
	 visibility: visible;
	 opacity: 1;
   }
   .page_second {
	   min-height: 100vh;
	   width: 100%;
	   overflow: visible;
	   position: relative;
	   z-index: 988;
   }
   .imgplace {
	   display: flex;
	   flex-direction: row;
	   justify-content: center;
	   position: relative;
	   transform-origin: top center;
	   margin-bottom: 0px;
	   transition: 0.7s;
	   animation: imgrotate infinite 3s ease-in-out alternate;
   }
   .imgplace:hover {
	   display: flex;
	   flex-direction: row;
	   justify-content: center;
	   position: relative;
	   transform-origin: top center;
	   animation: imgrotate infinite 3s ease-in-out alternate;
	   -webkit-animation-play-state: paused;
	   -moz-animation-play-state: paused;
	   -o-animation-play-state: paused; 
	   animation-play-state: paused;
	   transition: 0.7s;
	   margin-bottom: 50px;
   }
   .imgplace:hover .img {
	   transform: scale(1.10);
	   transition: 0.7s;
	   transform-origin: top center;
	   box-shadow: 0px 0px 30px black, inset 0px 0px 0px 20px #00000057;
   }
   .imgplace:before {
	   content: '';
	   height: calc(50px + 50 * ((100vw - 320px) / (1280 - 320)));
	   width: 13px;
	   background: white;
	   position: absolute;
	   transform: skewX(22deg);
	   right: 47.5%;
   }
   .imgplace:after {
	content: '';
	height: calc(50px + 50 * ((100vw - 320px) / (1280 - 320)));
	width: 13px;
	background: white;
	position: absolute;
	transform: skewX(-22deg);
	left: 47.5%;
   }
   .imgplace .img {
	   width: 85%;
	   transition: 0.7s;
	   object-fit: cover;
	   position: relative;
	   right: 0;
	   display: block;
	   padding: 10px;
	   border: 6px solid white;
	   margin-top: calc(45px + 45 * ((100vw - 320px) / (1280 - 320)));
	   border-radius: 5px;
	   background: #000000b3;
	   filter: grayscale(1) contrast(1.15);	
	   box-shadow: 0px 0px 30px black, inset 0px 0px 0px 10px #00000057;
	clip-path: polygon(36% 0, 100% 0, 100% 100%, 0 100%, 0 76%, 0 72%, 0 69%, 1% 67%, 5% 66%, 8% 65%, 9% 62%, 7% 60%, 7% 57%, 5% 53%, 4% 49%, 1% 48%, 0 43%, 0 21%, 2% 20%, 5% 18%, 5% 16%, 7% 14%, 8% 12%, 10% 11%, 11% 10%, 14% 7%, 17% 7%, 21% 5%, 24% 5%, 27% 5%, 31% 2%);
   }
   .imgtitle {
	position: absolute;
	text-align: center;
	font-size:  calc(40px + 40 * ((100vw - 320px) / (1280 - 320)));
	color: black;
	background: white;
	width: 85%;
	bottom: 5%;
	opacity: 0.7;
	transition: 0.7s;
	border-radius: 8px;
	box-shadow: 0px 0px 30px black;
	line-height: calc(55px + 55 * ((100vw - 320px) / (1280 - 320)));
}
   .imgplace:hover .imgtitle {
	   position: absolute;
	   bottom: -3%;
	   text-align: center;
	   font-size:  calc(45px + 45 * ((100vw - 320px) / (1280 - 320)));
	   color: black;
	   background: white;
	   opacity: 1;
	   box-shadow: 0px 0px 25px black;
	   line-height: calc(60px + 60 * ((100vw - 320px) / (1280 - 320)));
   }
   .logoplace {
	   display: flex;
	   justify-content: center;
	   align-self: center;
	   vertical-align: center;
	   position: relative;
	   margin-top: calc(40px + 40 * ((100vw - 320px) / (1280 - 320)));
   }
   .logo {
	   background: #000000b3;
	   border: 6px solid white;
	   overflow: hidden;
	   border-radius: 6px;
	   box-shadow: 0px 0px 30px black;
   }
   .achievements_back {
   display: flex;
   flex-direction: column;
   align-self: center;
   margin-top: calc(40px + 40 * ((100vw - 320px) / (1280 - 320)));
   position: relative;
   width: 90%;
   z-index: 300;
   line-height: calc(63px + 63 * ((100vw - 320px) / (1280 - 320)));
   }
   .achievements_title_back {
	   display: flex;
	   flex-direction: row;
	   justify-content: space-around;
	   width: 88%;
	   margin: 0 auto;
	   position: relative;
	   z-index: 300;
	   overflow: visible;
   }
   .achievements_title_line {
	   height: 13px;
	   width: 90%;
	   background: white;
	   margin: 0 auto;
	   align-self: center;
	   vertical-align: center;
	   position: absolute;
	   z-index: 300;
   }
   .achievements_title { 
   background: white;
   align-self: center;
   color: black;
   position: relative;
   font-size: calc(53px + 53 * ((100vw - 320px) / (1280 - 320)));
   padding: 17px 24px 17px 24px;
   border-radius: 10px;
   box-shadow: 0px 0px 20px black;
   text-shadow: 0px 0px 1px #666, 0px 0px 1px gray;
   z-index: 301;
   text-decoration: underline;
   text-transform: uppercase;
   }
   .achievement_img_circle {
	border-radius: 50%;
	border: 8px solid white;
	align-self: center;
	line-height: 0;
	z-index: 300;
	box-shadow: 0px 0px 20px black;
	position: relative;
	}
   .achievements_img {
	   background: white;
	   align-self: center;
	   position: relative;
	   border-radius: 50%;
   height: calc(102px + 102 * ((100vw - 320px) / (1280 - 320)));
   z-index: 300;
   padding: 12px;
   background: black;
   }
   .achievements_list {
	   position: absolute;
	   display: flex;
   flex-direction: column;
   align-self: center;
   position: relative;
   z-index: 299;
   }
   .achievement {
	   display: flex;
	   flex-direction: row;
	   position: relative;
	   align-self: center;
	   border: 6px solid white;
	   border-radius: 6px;
	   margin-top: calc(25px + 25 * ((100vw - 320px) / (1280 - 320)));
	   box-shadow: 0px 0px 20px black;
	   z-index: 169;
   }
   .achievements_list .achievement:nth-child(1):before {
	width: 13px;
	content: '';
	height: calc(27px + 27 * ((100vw - 320px) / (1280 - 320)));;
	bottom: 103%;
	position: absolute;
	right: 11.8%;
	background: white;
	z-index: 299;
}
.achievements_list .achievement:nth-child(2):before {
	width: 13px;
	content: '';
	height: calc(27px + 27 * ((100vw - 320px) / (1280 - 320)));;
	bottom: 103%;
	position: absolute;
	left: 6%;
	background: white;
	z-index: 299;
}
.achievements_list .achievement:nth-child(3):before {
	width: 13px;
	content: '';
	height: calc(27px + 27 * ((100vw - 320px) / (1280 - 320)));;
	bottom: 103%;
	position: absolute;
	right: 17%;
	background: white;
}
.achievements_list .achievement:nth-child(4):before {
	width: 13px;
	content: '';
	height: calc(27px + 27 * ((100vw - 320px) / (1280 - 320)));;
	bottom: 103%;
	position: absolute;
	left: 10%;
	background: white;
}
.achievements_list .achievement:nth-child(5):before {
	width: 13px;
	content: '';
	height: calc(27px + 27 * ((100vw - 320px) / (1280 - 320)));;
	bottom: 103%;
	position: absolute;
	right: 5%;
	background: white;
}
   .achievement_name {
	   font-size: calc(50px + 50 * ((100vw - 320px) / (1280 - 320)));
   color: white;
	background: #000000b3;
	padding: 25px 25px;
	position: relative;
   }
   .achievement_number {
	   background: white;
	   color: black;
	   font-size: calc(50px + 50 * ((100vw - 320px) / (1280 - 320)));
	   align-self: center;
	   padding: 28px 28px;
	   position: relative;
	   margin: -3px -3px;
   }
   p { 
   text-indent: calc(16px + 16 * ((100vw - 320px) / (1280 - 320)));
   
   }
   h3 {
	letter-spacing: 7px;
	 margin: 0;
	 display: flex;
	 justify-content: center;
	 position: relative;
	 font-size: calc(45px + 25 * ((100vw - 320px) / (1280 - 320)));
	 color: white;
	 padding: 27px 15px 12px 15px;
	 line-height: calc(30px + 30 * ((100vw - 320px) / (1280 - 320)));
   }
   em {
	 font-family: 'Josefin Sans', sans-serif;
	 color: currentColor;
	 position: relative;
	 font-style: normal;
	 text-align: center;
   }
   em.o {
	 -webkit-animation: planet-rotate 8s ease-in-out infinite;
	 animation: planet-rotate 8s ease-in-out infinite;
	 position: relative;
   }
   em.o.left {
	 -webkit-transform-origin: calc(35px + 25 * ((100vw - 320px) / (1280 - 320)));
	 transform-origin: calc(35px + 25 * ((100vw - 320px) / (1280 - 320)));
   }
   em.o.right {
	 -webkit-transform-origin: calc(-30px + 20 * ((100vw - 320px) / (1280 - 320)));
	 transform-origin: calc(-30px + 20 * ((100vw - 320px) / (1280 - 320)));
   }
   footer {
	width: 100%;
	border-top: 6px dashed white;
	background: #000000b3;
	position: relative;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	margin-top: 100px;
	transition: 0.7s;
	}
	.footer_container {
	margin: 0 auto;
	}
	.footer_container h4 {
		font-size: calc(30px + 30 * ((100vw - 320px) / (1280 - 320)));
	color: white;
	vertical-align: center;
	text-align: right;
	margin: 10px 60px 10px 60px;
	font-weight: lighter;
	}
	   @keyframes wiggle {
	   0% { transform: translatex(30px)}
	   100% { transform: translatex(-30px)}
   }
   @keyframes wiggle_und {
	   0% { transform: translatex(-30px)}
	   100% { transform: translatex(30px)}
   }
   @keyframes rotate {
	   0% { transform: rotate(-1.0deg)}
	   100% { transform: rotate(0.5deg)}
   }
   @keyframes scale {
	   0% { transform: scale(0.9)}
	   100% { transform: scale(1)}
   }
   @keyframes pict_rotate {
	0% { transform: rotate(0.0deg);}
	6% { transform: scale(1);}
	10% { transform: rotate(5deg) scale(1.07);}
	14% { transform: scale(1);}
	20% { transform: rotate(0.0deg);}
	30% { transform: rotate(-5deg);}
	40% { transform: rotate(0.0deg);}
	50% { transform: rotate(10deg);}
	60% { transform: rotate(0.0deg);}
	70% { transform: rotate(-14deg);}
	80% { transform: rotate(6deg);}
	90% { transform: rotate(3deg);}
	100% { transform: rotate(0.0deg);}
}
}






