*, *:before, *:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	background-color: black;
    font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 20px;
	cursor: default;
	overflow-x: hidden;
}
.page {
	 display: flex;
	 flex-direction: column;
	 min-height: 100vh;
	 overflow: hidden;
	 margin: 0 auto;
	 line-height: calc(35px + 23 * ((100vw - 320px) / (1280 - 320)));
}
.nav_bar {
	display: flex;
	flex-direction: row;
	max-width: calc(350px + 300 * ((100vw - 320px) / (1280 - 320)));
	margin: 0 auto;
	position: relative;
	top: 0;
	width: 100%;
	justify-content: space-around;
	margin-top: calc(8px + 8 * ((100vw - 320px) / (1280 - 320)));
}
.nav {
	width: calc(25px + 25 * ((100vw - 320px) / (1280 - 320)));
	height: calc(25px + 25 * ((100vw - 320px) / (1280 - 320)));
	position: relative;
}
.nav_bar a {
line-height: 0;	

}
.fullscreen_intro {
	 min-height: 100vh;
	 width: 100%;
	 display: flex;
	 vertical-align: center;
}
.intro_body {
     justify-content: center;
     display: flex;
     width: 100%;
     margin: 0px auto;
	 flex-direction: column;
	 align-items: center;
	 position: relative;
}
.intro_title {
	font-size: calc(37px + 23 * ((100vw - 320px) / (1280 - 320)));
	background: white;
	-webkit-text-stroke: 2px black;
	color: white;
	padding: 10px 10px calc(3px + 3 * ((100vw - 320px) / (1280 - 320))) 10px;
	position: relative;
z-index: 110;
	margin-top: calc(10px + 15 * ((100vw - 320px) / (1280 - 320)));
	animation: rotate infinite 2s ease-in-out alternate;
	transform-origin: top right;
	border-radius: 5px;
	
	overflow: hidden;
}
.intro_title ab {
	-webkit-text-stroke: 2.5px black;
}
.x {
	position: absolute;
	width: calc(9px + 7 * ((100vw - 320px) / (1280 - 320)));
	height: calc(9px + 7 * ((100vw - 320px) / (1280 - 320)));
	display: block;
	top: 3px;
	right: 3px;
}
.intro_title_upper {
	font-size: calc(29px + 16 * ((100vw - 320px) / (1280 - 320)));
background: black;
color: white;
padding: 10px;
margin-top: -15px;
position: relative;
border: 3px solid white;
z-index: 100;
border-radius: 3px;

}
.background {
	background: black;
	width: 100%;
	height: 100%;
}
.danger {
	background: white;
	color: black;
	position: relative;
	font-size: calc(22px + 13 * ((100vw - 320px) / (1280 - 320)));
	padding: 10px;
	margin-top: calc(50px + 30 * ((100vw - 320px) / (1280 - 320)));
	animation: wiggle infinite 4s ease-in-out alternate;
	border-radius: 5px;
	
}
.danger .x_1 {
	position: absolute;
	width: 16px;
	height: 16px;
	display: block;
	top: 2px;
	left: calc(14px + 10 * ((100vw - 320px) / (1280 - 320)));
}
.danger .x_2 {
	position: absolute;
	width: 16px;
	height: 16px;
	display: block;
	top: 2px;
    right: calc(13px + 10 * ((100vw - 320px) / (1280 - 320)));
}
.danger:before {
	content: '';
	top: calc(-80px - 40 * ((100vw - 320px) / (1280 - 320)));
	width: 3px;
	background: white;
	position: absolute;
	display: inline-block;
	height: calc(80px + 40 * ((100vw - 320px) / (1280 - 320)));
	right: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
}
.danger:after {
	content: '';
	top: calc(-80px - 40 * ((100vw - 320px) / (1280 - 320)));
	width: 3px;
	background: white;
	position: absolute;
	display: inline-block;
	height: calc(80px + 40 * ((100vw - 320px) / (1280 - 320)));
	left: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
}
.load_back {
	margin-top: calc(20px + 20 * ((100vw - 320px) / (1280 - 320)));
	border-radius: 50%;
	line-height: 0;
	padding: calc(5px + 5 * ((100vw - 320px) / (1280 - 320)));
	border: 3px solid white;
	overflow: visible;
	background: black;
	position: relative;
	z-index: 777;
}
.load {
	overflow: visible;
	position: relative;
	border-radius: 50%;
	background: white;
	z-index: 444;
}
.load .img {
	padding: calc(10px + 5 * ((100vw - 320px) / (1280 - 320)));
	width: calc(60px + 30 * ((100vw - 320px) / (1280 - 320)));
	height: calc(60px + 30 * ((100vw - 320px) / (1280 - 320)));
	animation: rotate360 infinite 20s ease-in-out;
	overflow: visible;
	position: relative;
	z-index: 777;
}
.load_tross {
	position: absolute;
	width: 100%;
	background: white;
	top: calc(266px + 155 * ((100vw - 320px) / (1280 - 320)));
	height: 3px;
	z-index: 555;
}
@keyframes rotate360 {
	0% { transform: rotate(0deg)}
	100% { transform: rotate(3600deg)}
}
@keyframes wiggle {
	0% { transform: translatex(20px)}
	100% { transform: translatex(-20px)}
}
@keyframes wiggle_und {
	0% { transform: translatex(-20px)}
	100% { transform: translatex(20px)}
}
@keyframes rotate {
	0% { transform: rotate(-0.5deg)}
	100% { transform: rotate(0.9deg)}
}
@keyframes scale {
	0% { transform: scale(0.9)}
	100% { transform: scale(1)}
}
@media screen and (max-device-width:480px){
.page {
	 display: flex;
	 flex-direction: column;
	 min-height: 100vh;
	 overflow: hidden;
	 margin: 0 auto;
	 line-height: calc(68px + 23 * ((100vw - 320px) / (1280 - 320)));
}
.nav_bar {
	display: flex;
	flex-direction: row;
	max-width: calc(600px + 420 * ((100vw - 320px) / (1280 - 320)));
	margin: 0 auto;
	position: relative;
	top: 0;
	width: 100%;
	justify-content: space-around;
	margin-top: calc(27px + 16 * ((100vw - 320px) / (1280 - 320)));
}
.nav {
	width: calc(50px + 50 * ((100vw - 320px) / (1280 - 320)));
	height: calc(45px + 50 * ((100vw - 320px) / (1280 - 320)));
	position: relative;
}
.nav_bar a {
line-height: 0;	

}
.fullscreen_intro {
	 min-height: 100vh;
	 width: 100%;
	 display: flex;
	 vertical-align: center;
}
.intro_body {
     justify-content: center;
     display: flex;
     width: 100%;
     margin: 0px auto;
	 flex-direction: column;
	 align-items: center;
	 position: relative;
}
.intro_title {
	font-size: calc(74px + 46 * ((100vw - 320px) / (1280 - 320)));
	background: white;
	color: white;
	-webkit-text-stroke: 2.7px black;
	padding: 30px 20px calc(12px + 12 * ((100vw - 320px) / (1280 - 320))) 20px;
	position: relative;
z-index: 110;
	margin-top: calc(40px + 20 * ((100vw - 320px) / (1280 - 320)));
	animation: rotate infinite 2.5s ease-in-out alternate;
	transform-origin: left;
	transform-origin: top right;
	border-radius: 8px;
	overflow: hidden;
}
.intro_title ab {
	-webkit-text-stroke: 3.5px black;
}
.x {
	position: absolute;
	width: calc(16px + 10 * ((100vw - 320px) / (1280 - 320)));
	height: calc(16px + 10 * ((100vw - 320px) / (1280 - 320)));
	display: block;
	top: 5px;
	right: 5px;
}
.intro_title_upper {
	font-size: calc(58px + 32 * ((100vw - 320px) / (1280 - 320)));
background: black;
color: white;
padding: 20px;
position: relative;
border: 6px solid white;
z-index: 100;
border-radius: 4px;
}
.background {
	background: black;
	width: 100%;
	height: 100%;
}
.danger {
	background: white;
	color: black;
	position: relative;
	font-size: calc(44px + 26 * ((100vw - 320px) / (1280 - 320)));
	padding: 20px;
	margin-top: calc(100px + 60 * ((100vw - 320px) / (1280 - 320)));
	animation: wiggle infinite 4s ease-in-out alternate;
	border-radius: 8px;
}
.danger .x_1 {
	position: absolute;
	width: 24px;
	height: 24px;
	display: block;
	top: 4px;
	left: calc(40px + 8 * ((100vw - 320px) / (1280 - 320)));
}
.danger .x_2 {
	position: absolute;
	width: 24px;
	height: 24px;
	display: block;
	top: 4px;
    right: calc(40px + 6 * ((100vw - 320px) / (1280 - 320)));
}
.danger:before {
	content: '';
	top: calc(-160px - 80 * ((100vw - 320px) / (1280 - 320)));
	width: 6px;
	background: white;
	position: absolute;
	display: inline-block;
	height: calc(160px + 80 * ((100vw - 320px) / (1280 - 320)));
	right: calc(40px + 20 * ((100vw - 320px) / (1280 - 320)));
}
.danger:after {
	content: '';
	top: calc(-160px - 80 * ((100vw - 320px) / (1280 - 320)));
	width: 6px;
	background: white;
	position: absolute;
	display: inline-block;
	height: calc(160px + 80 * ((100vw - 320px) / (1280 - 320)));
	left: calc(40px + 20 * ((100vw - 320px) / (1280 - 320)));
}
	.load_back {
	margin-top: calc(40px + 40 * ((100vw - 320px) / (1280 - 320)));
	border-radius: 50%;
	line-height: 0;
	padding: calc(10px + 10 * ((100vw - 320px) / (1280 - 320)));
	border: 6px solid white;
	overflow: visible;
	background: black;
	position: relative;
	z-index: 777;
}
.load {
	overflow: visible;
	position: relative;
	border-radius: 50%;
	background: white;
	z-index: 444;
}
.load .img {
	padding: calc(13px + 10 * ((100vw - 320px) / (1280 - 320)));
	width: calc(100px + 50 * ((100vw - 320px) / (1280 - 320)));
	height: calc(100px + 50 * ((100vw - 320px) / (1280 - 320)));
	animation: rotate360 infinite 20s ease-in-out;
	overflow: visible;
	position: relative;
	z-index: 777;
}
.load_tross {
	position: absolute;
	width: 100%;
	background: white;
	top: calc(551px + 295 * ((100vw - 320px) / (1280 - 320)));
	height: 6px;
	z-index: 555;
}
	@keyframes wiggle {
	0% { transform: translatex(30px)}
	100% { transform: translatex(-30px)}
}
@keyframes wiggle_und {
	0% { transform: translatex(-30px)}
	100% { transform: translatex(30px)}
}
@keyframes rotate {
	0% { transform: rotate(-1.2deg)}
	100% { transform: rotate(0.6deg)}
}
@keyframes scale {
	0% { transform: scale(0.9)}
	100% { transform: scale(1)}
}
}
