*, *:before, *:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	background-color: black;
    font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 20px;
	cursor: default;
}
.page {
	 display: flex;
	 flex-direction: column;
	 min-height: 100vh;
	 margin: 0 auto;
	 min-width: 1280px;
	 line-height: calc(30px + 20 * ((100vw - 320px) / (1280 - 320)));
}

.fullscreen_intro .page_left {
	position: relative;
	width: 35%;
	vertical-align: center;
	flex-direction: column;
	display: flex;
	margin: 15px;
	line-height: calc(18px + 15 * ((100vw - 320px) / (1280 - 320)));
}
.fullscreen_intro .page_right {
	position: relative;
	width: 35%;
	vertical-align: center;
	flex-direction: column;
	display: flex;
	margin: 15px;
	line-height: calc(18px + 15 * ((100vw - 320px) / (1280 - 320)));
}
.page_telephone {
	display: none;
	position: relative;
	width: 35%;
	vertical-align: center;
	flex-direction: column;
	margin: 15px;
	line-height: calc(18px + 15 * ((100vw - 320px) / (1280 - 320)));
}
.text_page {
	font-size: calc(18px + 10 * ((100vw - 320px) / (1280 - 320)));
	color: white;
	padding: 20px 15px 20px 15px;
	background: #00000057;
	box-shadow: 0px 0px 20px black;
	border: 3px solid white;
	border-radius: 3px;
	align-self: center;
	z-index: 500;
}
.title_page, .title_page a {
	text-align: left;
	font-size: calc(22px + 12 * ((100vw - 320px) / (1280 - 320)));
	font-weight: 600;
	color: black;
	margin: 10px 10px 0px 10px;
	background: white;
	align-self: start;
	padding: 8px 10px 8px 10px;
	z-index: 501;
	box-shadow: 0px -2px 20px black;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	position: relative;
	top: 3px;
}
.imgplace {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	transform-origin: top center;
	animation: imgrotate infinite 3s ease-in-out alternate;
}
.imgplace:hover {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	transform-origin: top center;
	animation: imgrotate infinite 3s ease-in-out alternate;
	-webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused; 
    animation-play-state: paused;
}
.imgplace:hover .img {
	transform: scale(1.10);
	transition: 0.7s;
	box-shadow: 0px 0px 30px black, inset 0px 0px 0px 20px #00000057;
}
.imgplace:before {
	content: '';
	height: calc(15px + 15 * ((100vw - 320px) / (1280 - 320)));
	width: 3px;
	background: white;
	position: absolute
}
.imgplace .img {
	width: 85%;
	transition: 0.7s;
	height: 100%;
	object-fit: cover;
	position: relative;
	right: 0;
	display: block;
	padding: 5px;
	border: 3px solid white;
	margin-top: calc(15px + 15 * ((100vw - 320px) / (1280 - 320)));
	border-radius: 5px;
	background: #00000057;
	filter: grayscale(1);	
	box-shadow: 0px 0px 20px black, inset 0px 0px 0px 10px #00000057;
}
.imgplace:hover .imgtitle {
	position: absolute;
	transform: scale(1.1)
	bottom: -8%;
	text-align: center;
	font-size:  calc(19px + 10 * ((100vw - 320px) / (1280 - 320)));
	color: black;
	background: white;
	width: 93%;
	opacity: 1;
	border-radius: 5px;
	box-shadow: 0px 0px 25px black;
	line-height: calc(19px + 19 * ((100vw - 320px) / (1280 - 320)));
}
 .imgtitle {
	position: absolute;
	bottom: -8%;
	text-align: center;
	font-size:  calc(17px + 9 * ((100vw - 320px) / (1280 - 320)));
	color: black;
	background: white;
	width: 85%;
	opacity: 0.7;
	transition: 0.7s;
	border-radius: 5px;
	box-shadow: 0px 0px 20px black;
	line-height: calc(19px + 19 * ((100vw - 320px) / (1280 - 320)));
}
.background_page {
	background: url(homa.jpg) center center;
	z-index: 0;
	position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: 110%;
	width: 110%;
	filter: grayscale(3);
	opacity: 0.2;
	overflow: hidden;
	-webkit-background-size: cover;
	animation: scale_back infinite 12s ease-in-out alternate;
}
.tooltip_button {
	width: 30%;
	justify-content: end;
	display: flex;
}
.tooltip {
  position: relative;
  display: inline-block;
  padding: 10px;
  border: 3px solid white;
  font-size: calc(10px + 7 * ((100vw - 320px) / (1280 - 320)));
  line-height: 1;
  background: #00000057;
  border-radius: 3px;
  opacity: 0.5;
  -webkit-text-stroke: 0.5px black;
  margin: calc(5px + 5 * ((100vw - 320px) / (1280 - 320)));
  align-self: center;
  transition: 0.4s;
  box-shadow: 0px 0px 5px black;
  z-index: 200;
}
.tooltip:hover {
	opacity: 1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background: #00000057;
  font-size: calc(11px + 7 * ((100vw - 320px) / (1280 - 320)));
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -10%;
  right: 120%;
  opacity: 0;
  transition: opacity 0.4s;
  line-height: 1;
  border: 3px solid white;
  width: calc(90px + 95 * ((100vw - 320px) / (1280 - 320)));
  box-shadow: 0px 0px 5px black;
  z-index: 200;
}
.tooltip .tooltiptext:before {
	content: '';
	position: absolute;
	height: 3px;
	background: white;
	left: 100%;
	top: 50%;
	width: 9%;
	z-index: 200;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.bar {
	width: 100%;
	background: linear-gradient(#00000070, #00000036, #fff0);
	display: flex;
	opacity: 1;
	z-index: 1;
	vertical-align: center;
}
.gmail {
	display: flex;
	justify-content: start;
	width: 30%;
}
.gmailtip {
	text-align: left;
	border: 3px solid white;
	color: white;
	font-size: calc(10px + 7 * ((100vw - 320px) / (1280 - 320)));
	margin: calc(5px + 5 * ((100vw - 320px) / (1280 - 320)));
	padding: 2px 10px;
	background: #00000057;
	position: relative;
	border-radius: 3px;
	-webkit-text-stroke: 0.5px black;
	box-shadow: 0px 0px 5px black;
	opacity: 0.5;
	transition: 0.4s;
}
.gmailtip:hover {
	opacity: 1;
}
.gmailtip:hover .gmailtext {
	visibility: visible;
	opacity: 1;
}
.gmailtip .gmailtext{
	 visibility: hidden;
  background: #00000057;
  font-size: calc(13px + 8 * ((100vw - 320px) / (1280 - 320)));
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -10%;
  left: 105%;
  margin-right: -60px;
  opacity: 0;
  transition: opacity 0.4s;
  line-height: 1;
  border: 3px solid white;
  width: calc(85px + 85 * ((100vw - 320px) / (1280 - 320)));
  box-shadow: 0px 0px 5px black;
}
.gmailtip .gmailtext:before {
	content: '';
	position: absolute;
	height: 3px;
	background: white;
	right: 100%;
	top: 50%;
	width: 9%;
	z-index: 200;
}
.nav_links {
	display: flex;
	flex-direction: row;
	max-width: calc(200px + 250 * ((100vw - 320px) / (1280 - 320)));
	position: relative;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: calc(5px + 5 * ((100vw - 320px) / (1280 - 320)));
	margin-bottom: calc(5px + 5 * ((100vw - 320px) / (1280 - 320)));
}
.nav_bar {
	justify-content: space-around;
	width: 40%;
	margin: 0 auto;
	position: relative;
}
.nav {
	width: calc(25px + 30 * ((100vw - 320px) / (1280 - 320)));
	height: calc(25px + 30 * ((100vw - 320px) / (1280 - 320)));
	position: relative;
	animation: pict_rotate infinite 16s ease-in-out alternate;
	border-radius: 50%;
	border: 0px solid white;
	box-shadow: 0px 0px 5px #00000096;
	transition: border 0.2s;
}
.nav:hover {
	border: 3px solid white;
}
.nav_bar a {
line-height: 0;	

}
.fullscreen_intro {
	 width: 100%;
	 display: flex;
	 vertical-align: center;
	 flex-direction: row;
	 position: relative;
}
.intro_body {
     display: flex;
     width: 30%;
     margin: 0px auto;
	 flex-direction: column;
	 align-items: center;
	 position: relative;
	 text-align: center;
}
.intro_title {
	font-size: calc(29px + 27 * ((100vw - 320px) / (1280 - 320)));
	background: white;
	-webkit-text-stroke: 2px black;
	color: white;
	padding: 10px 10px calc(3px + 3 * ((100vw - 320px) / (1280 - 320))) 10px;
	position: relative;
z-index: 110;
	margin-top: calc(10px + 15 * ((100vw - 320px) / (1280 - 320)));
	animation: rotate infinite 2s ease-in-out alternate;
	transform-origin: top right;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black;
	overflow: hidden;
	transition: color 0.7s;
}
.intro_title:hover {
	color: black;
}
.intro_title ab {
	-webkit-text-stroke: 2.5px black;
}
.x {
	position: absolute;
	width: calc(9px + 7 * ((100vw - 320px) / (1280 - 320)));
	height: calc(9px + 7 * ((100vw - 320px) / (1280 - 320)));
	display: block;
	top: 3px;
	right: 3px;
}
.intro_title_upper {
	font-size:  calc(19px + 20 * ((100vw - 320px) / (1280 - 320)));
background: #0000002b;
color: white;
padding: 10px 20px;
margin-top: -15px;
position: relative;
border: 3px solid white;
z-index: 100;
border-radius: 3px;
box-shadow: 0px 0px 20px black;
transition: border 0.3s;
}
.intro_title_upper:hover {
	border: 5px solid white;
}
.background {
	background: black;
	width: 100%;
	height: 100%;
}
.danger {
	background: white;
	color: black;
	position: relative;
	font-size: calc(20px + 11 * ((100vw - 320px) / (1280 - 320)));
	padding: 10px;
	margin-top: calc(35px + 25 * ((100vw - 320px) / (1280 - 320)));
	animation: wiggle infinite 4s ease-in-out alternate;
	border-radius: 5px;
	box-shadow: 0px 0px 20px black;
	transition: 0.4s;
}
.danger:hover {
	-webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused; 
    animation-play-state: paused;
}
.danger .x_1 {
	position: absolute;
	width: 16px;
	height: 16px;
	display: block;
	top: 2px;
	left: calc(14px + 10 * ((100vw - 320px) / (1280 - 320)));
}
.danger .x_2 {
	position: absolute;
	width: 16px;
	height: 16px;
	display: block;
	top: 2px;
    right: calc(13px + 10 * ((100vw - 320px) / (1280 - 320)));
}
.danger:before {
	content: '';
	bottom: 100%;
	width: 3px;
	background: white;
	position: absolute;
	display: inline-block;
	height: calc(35px + 25 * ((100vw - 320px) / (1280 - 320)));
	right: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
}
.danger:after {
	content: '';
	bottom: 100%;
	width: 3px;
	background: white;
	position: absolute;
	display: inline-block;
	height: calc(35px + 25 * ((100vw - 320px) / (1280 - 320)));
	left: calc(20px + 10 * ((100vw - 320px) / (1280 - 320)));
}
.load_back {
	border-radius: 50%;
	line-height: 0;
	padding: calc(5px + 5 * ((100vw - 320px) / (1280 - 320)));
	border: 3px solid white;
	overflow: visible;
	background: #0000002b;
	position: relative;
	z-index: 777;
	box-shadow: 0px 0px 30px black;
	margin-top: calc(20px + 20 * ((100vw - 320px) / (1280 - 320)));
}
.load {
	overflow: visible;
	border-radius: 50%;
	background: white;
	z-index: 444;
}
.load .img {
	padding: calc(10px + 5 * ((100vw - 320px) / (1280 - 320)));
	width: calc(45px + 30 * ((100vw - 320px) / (1280 - 320)));
	height: calc(45px + 30 * ((100vw - 320px) / (1280 - 320)));
	animation: rotate360 infinite 20s ease-in-out;
	overflow: visible;
	position: relative;
	z-index: 777;
}

@keyframes rotate360 {
	0% { transform: rotate(0deg)}
	100% { transform: rotate(3600deg)}
}
@keyframes wiggle {
	0% { transform: translatex(20px)}
	100% { transform: translatex(-20px)}
}
@keyframes wiggle_und {
	0% { transform: translatex(-20px)}
	100% { transform: translatex(20px)}
}
@keyframes rotate {
	0% { transform: rotate(-0.5deg)}
	100% { transform: rotate(0.9deg)}
}
@keyframes scale {
	0% { transform: scale(0.9)}
	100% { transform: scale(1)}
}
	@keyframes scale_back {
		0% { transform: scale(1.0);}
		100% { transform: scale(1.1);}	
	}
@keyframes pict_rotate {
	0% { transform: rotate(0.0deg);}
	10% { transform: rotate(1.5deg);}
	20% { transform: rotate(0.0deg);}
	30% { transform: rotate(-1.5deg);}
	40% { transform: rotate(0.0deg);}
	50% { transform: rotate(2.5deg);}
	60% { transform: rotate(0.0deg);}
	70% { transform: rotate(-3.5deg);}
	80% { transform: rotate(2.0deg);}
	90% { transform: rotate(1.0deg);}
	100% { transform: rotate(0.0deg);}
}
@keyframes imgrotate {
	0% {transform: rotate(3deg);}
	100% {transform: rotate (-3ged);}
}
@media screen and (max-device-width:480px){
.page {
	 display: flex;
	 flex-direction: column;
	 min-height: 100vh;
	 margin: 0 auto;
	 line-height: calc(68px + 23 * ((100vw - 320px) / (1280 - 320)));
}
.fullscreen_intro .page_left {
	display: none;
}
.fullscreen_intro .page_right {
	position: relative;
	width: 96%;
	vertical-align: center;
	flex-direction: column;
	display: flex;
	margin: 0 auto;
	line-height: calc(50px + 20 * ((100vw - 320px) / (1280 - 320)));
	margin-top: calc(60px + 60 * ((100vw - 320px) / (1280 - 320)));
}
.fullscreen_intro .page_telephone {
	position: relative;
	width: 96%;
	vertical-align: center;
	flex-direction: column;
	display: flex;
	margin: 0 auto;
	line-height: calc(50px + 20 * ((100vw - 320px) / (1280 - 320)));
	margin-top: calc(70px + 70 * ((100vw - 320px) / (1280 - 320)));
}
.text_page {
	font-size: calc(44px + 23 * ((100vw - 320px) / (1280 - 320)));
	color: white;
	padding: 30px 25px 30px 25px;
	background: #00000057;
	box-shadow: 0px 0px 20px black;
	border: 6px solid white;
	border-radius: 5px;
	align-self: center;
	z-index: 500;
}
.title_page, .title_page a {
	text-align: left;
	font-size: calc(65px + 35 * ((100vw - 320px) / (1280 - 320)));
	font-weight: 600;
	color: black;
	margin: 15px 15px 0px 25px;
	background: white;
	align-self: start;
	padding: 16px 20px 16px 20px;
	z-index: 501;
	box-shadow: 0px -5px 20px black;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	position: relative;
	top: 3px;
}
.background_page {
	background: url(me.jpg) center center;
	position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	height: 110%;
	width: 110%;
	filter: grayscale(3);
	opacity: 0.25;
	overflow: hidden;
	-webkit-background-size: cover;
	animation: scale_back infinite 16s ease-in-out alternate;
}
.nav_bar {
	display: ;
	flex-direction: ;
	max-width: ;
	margin: ;
	position: ;
	top: ;
	width: 100%;
	justify-content: ;
	margin-top: ;
}
.nav_links {
	justify-content: space-around;
	width: 100%;
	margin: 0 auto;
	position: relative;
	flex-direction: row;
	margin-top: calc(23px + 23 * ((100vw - 320px) / (1280 - 320)));
	max-width: calc(600px + 650 * ((100vw - 320px) / (1280 - 320)));
}
.nav {
	width: calc(90px + 55 * ((100vw - 320px) / (1280 - 320)));
	height: calc(90px + 55 * ((100vw - 320px) / (1280 - 320)));
	position: relative;
	box-shadow: 0px 0px 7px #00000096;
}
.nav:hover {
	border: 3px solid white;
}
.gmail {
	display: none;
}
.nav_bar a {
line-height: 0;	
}
.tooltip_button {
	display: none;
}
.fullscreen_intro {
	 min-height: 100vh;
	 width: 100%;
	 display: flex;
	 vertical-align: center;
	 flex-direction: column;
}
.intro_body {
     display: flex;
     width: 100%;
     margin: 0px auto;
	 flex-direction: column;
	 align-items: center;
	 position: relative;
}
.intro_title {
	font-size: calc(100px + 50 * ((100vw - 320px) / (1280 - 320)));
	background: white;
	color: white;
	-webkit-text-stroke: 2.7px black;
	padding: 30px 20px calc(12px + 12 * ((100vw - 320px) / (1280 - 320))) 20px;
	position: relative;
z-index: 110;
	margin-top: calc(50px + 25 * ((100vw - 320px) / (1280 - 320)));
	animation: rotate infinite 2.5s ease-in-out alternate;
	transform-origin: left;
	transform-origin: top right;
	border-radius: 8px;
	overflow: hidden;
	transition: color 0.7s;
	line-height: calc(88px + 23 * ((100vw - 320px) / (1280 - 320)));
}
.intro_title:hover {
	color: black;
}
.intro_title ab {
	-webkit-text-stroke: 3.5px black;
}
.x {
	position: absolute;
	width: calc(16px + 10 * ((100vw - 320px) / (1280 - 320)));
	height: calc(16px + 10 * ((100vw - 320px) / (1280 - 320)));
	display: block;
	top: 5px;
	right: 5px;
}
.intro_title_upper {
	font-size: calc(75px + 40 * ((100vw - 320px) / (1280 - 320)));
background: #0000002b;
color: white;
padding: 20px;
position: relative;
border: 6px solid white;
z-index: 100;
border-radius: 4px;
line-height: calc(88px + 23 * ((100vw - 320px) / (1280 - 320)));
}
.background {
	background: black;
	width: 100%;
	height: 100%;
}
.danger {
	background: white;
	color: black;
	text-align: center;
	position: relative;
	font-size: calc(60px + 30 * ((100vw - 320px) / (1280 - 320)));
	padding: 20px;
	margin-top: calc(80px + 50 * ((100vw - 320px) / (1280 - 320)));
	animation: wiggle infinite 4s ease-in-out alternate;
	border-radius: 8px;
	line-height: calc(88px + 23 * ((100vw - 320px) / (1280 - 320)));
}
.danger .x_1 {
	position: absolute;
	width: 24px;
	height: 24px;
	display: block;
	top: 4px;
	left: calc(40px + 8 * ((100vw - 320px) / (1280 - 320)));
}
.danger .x_2 {
	position: absolute;
	width: 24px;
	height: 24px;
	display: block;
	top: 4px;
    right: calc(40px + 6 * ((100vw - 320px) / (1280 - 320)));
}
.danger:before {
	content: '';
	bottom: 100%;
	width: 6px;
	background: white;
	position: absolute;
	display: inline-block;
	height: calc(80px + 50 * ((100vw - 320px) / (1280 - 320)));
	right: calc(40px + 20 * ((100vw - 320px) / (1280 - 320)));
}
.danger:after {
	content: '';
	bottom: 100%;
	width: 6px;
	background: white;
	position: absolute;
	display: inline-block;
	height: calc(80px + 50 * ((100vw - 320px) / (1280 - 320)));
	left: calc(40px + 20 * ((100vw - 320px) / (1280 - 320)));
}
	.load_back {
	margin-top: calc(60px + 60 * ((100vw - 320px) / (1280 - 320)));
	border-radius: 50%;
	line-height: 0;
	padding: calc(12px + 12 * ((100vw - 320px) / (1280 - 320)));
	border: 6px solid white;
	overflow: visible;
	background: #0000002b;
	position: relative;
	z-index: 777;
}
.load {
	overflow: visible;
	position: relative;
	border-radius: 50%;
	background: white;
	z-index: 444;
}
.load .img {
	padding: calc(12px + 12 * ((100vw - 320px) / (1280 - 320)));
	width: calc(100px + 60 * ((100vw - 320px) / (1280 - 320)));
	height: calc(100px + 60 * ((100vw - 320px) / (1280 - 320)));
	animation: rotate360 infinite 20s ease-in-out;
	overflow: visible;
	position: relative;
	z-index: 777;
}
.tooltip {
  position: fixed;
  display: inline-block;
  bottom: 30px;
  right: 30px;
  padding: 10px;
  border: 6px solid white;
  line-height: 1;
  background: #0000002b;
  border-radius: 6px;
  opacity: 0.4;
  -webkit-text-stroke: 1px black;
  font-size: calc(24px + 29 * ((100vw - 320px) / (1280 - 320)));
  transition: 0.5s;
}
.tooltip:hover {
	opacity: 0.8;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background: #0000002b;
  color: #white;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: -10%;
  right: 120%;
  margin-left: -120px;
  opacity: 0;
  transition: opacity 0.3s;
  line-height: 1;
  border: 6px solid white;
  width: 400px;
  font-size: calc(23px + 26 * ((100vw - 320px) / (1280 - 320)));
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.page_second {
	min-height: 100vh;
	width: 100%;
	overflow: visible;
	position: relative;
	z-index: 988;
}
.imgplace {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	transform-origin: top center;
	animation: imgrotate infinite 3s ease-in-out alternate;
}
.imgplace:hover {
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	transform-origin: top center;
	animation: imgrotate infinite 3s ease-in-out alternate;
	-webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused; 
    animation-play-state: paused;
}
.imgplace:hover .img {
	transform: scale(1.10);
	transition: 0.7s;
	box-shadow: 0px 0px 30px black, inset 0px 0px 0px 20px #00000057;
}
.imgplace:before {
	content: '';
	height: calc(35px + 35 * ((100vw - 320px) / (1280 - 320)));
	width: 6px;
	background: white;
	position: absolute
}
.imgplace .img {
	width: 75%;
	transition: 0.7s;
	height: 90%;
	object-fit: cover;
	position: relative;
	right: 0;
	display: block;
	padding: 12px;
	border: 6px solid white;
	margin-top: calc(35px + 35 * ((100vw - 320px) / (1280 - 320)));
	border-radius: 5px;
	background: #00000057;
	filter: grayscale(1);	
	box-shadow: 0px 0px 20px black, inset 0px 0px 0px 10px #00000057;
}
.imgplace:hover .imgtitle {
	position: absolute;
	transform: scale(1.1)
	bottom: 0%;
	text-align: center;
	font-size:  calc(37px + 32 * ((100vw - 320px) / (1280 - 320)));
	color: black;
	background: white;
	width: 93%;
	opacity: 1;
	border-radius: 8px;
	box-shadow: 0px 0px 25px black;
	line-height: calc(54px + 22 * ((100vw - 320px) / (1280 - 320)));
}
 .imgtitle {
	position: absolute;
	bottom: 0%;
	text-align: center;
	font-size:  calc(35px + 30 * ((100vw - 320px) / (1280 - 320)));
	color: black;
	background: white;
	width: 75%;
	opacity: 0.7;
	transition: 0.7s;
	border-radius: 8px;
	box-shadow: 0px 0px 20px black;
	line-height: calc(50px + 20 * ((100vw - 320px) / (1280 - 320)));
}
	@keyframes wiggle {
	0% { transform: translatex(30px)}
	100% { transform: translatex(-30px)}
}
@keyframes wiggle_und {
	0% { transform: translatex(-30px)}
	100% { transform: translatex(30px)}
}
@keyframes rotate {
	0% { transform: rotate(-1.2deg)}
	100% { transform: rotate(0.6deg)}
}
@keyframes scale {
	0% { transform: scale(0.9)}
	100% { transform: scale(1)}
}
}





